body {
	width:100%;
	text-align:center;
	margin:auto;
	padding:0px 70px 0px 70px;
}

.panel-title{
	font-size: 20px;
	font-weight: bold;
	text-align: left;
}

.title {
	font-size: 17px;
	font-weight: bold;
}

.personal-text-size {
	size:20px;
}

.headimg {
	position: relative;
	width: 150px;
	height: 150px;
}

.personal-data {
	margin-top: 10px;
}

.personal-data-li {
	margin-top: 15px;
}

.setting-button-one {
	float: right;
}
