<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>login</title>
</head>
<body>
	<form th:action="@{/login}" method="post">
		<div>
			<div>
				<input name="account" type="text" placeholder="输入用户名" tabindex="1" autofocus="autofocus">
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input name="password" type="password" placeholder="输入6至16位密码" tabindex="2">
			</div>
		</div>
		<div>
			<button id="btn_login" type="submit" tabindex="3">Sign In</button>
		</div>
	</form>
	<div>
		<button type="submit" tabindex="4"><a th:href="@{/register}">Sign up</a></button>
	</div>
</body>
</html>