<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/info.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<div class="personal-body">
		<div class="rectangle">
			<img class="headimg" th:src="@{/images/default_head.png}" alt="头像"/>
		</div>
		
		<text>林听寒</text>
		<text>我的路我自己走</text>
		<text>创建时间</text>
		<text>女</text>
		<text>生日</text>
		<text>邮箱</text>
		<text>联系方式</text>
		<text>所在地</text>
		<text>个人介绍</text>
	</div>
</body>
<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</html>