<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>register</title>
</head>
<body>
	<form th:action="@{/register}" method="post">
		<div>
			<div>
				<input name="account" type="text" placeholder="输入用户名" tabindex="1" autofocus="autofocus">
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input name="password" type="password" placeholder="输入6至16位密码" tabindex="2">
			</div>
			<div class="controls">
				<input name="email" type="text" placeholder="输入邮箱" tabindex="3">
			</div>
		</div>
		<div>
			<button id="btn_register" type="submit" tabindex="4">Sign up</button>
		</div>
	</form>
	<div>
		<button type="submit" tabindex="5"><a th:href="@{/login}">Sign in</a></button>
	</div>
</body>
</html>